body{
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}


span1{
    color: rgb(55, 48, 153);
}
header h1{
    text-align: center;
   font-weight: bold;
   font-size: 40px;
}
main p{
    max-width: 700px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
main img{
    width: 400px;
}
.rodape{
    display: flex;
    list-style: none;
}
.rodape img{
    width: 90px;
    margin-left: 200px;
    border-radius: 50%;
}
main{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(48, 48, 105);
    margin-left: 90px;
    margin: 15px 90px 60px;
}
input{
    height: 17px;
    padding: 7px;
    font-size: 15px;
}
form [type="submit"]{
    margin-top: 30px;
    width: 500px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
}
main{
    background-color: rgb(30, 30, 90);
    color: white;
     height: 600px;
}
header{
    height: 90px;
    background-color: aliceblue;
}
span2{
    font-size: 15px;
    font-weight: 100;

}
.rodape li p{
    max-width: 800px;
    margin-left: 130px;
    font-size: 20px;
}
.rodape li p span{
    font-size: 12px;
    text-align: center;
}
